<div class="wrapper" >
  <nav id="sidebar">
    <button type="btn " class="sidebar-header-button btn-secondary" (click)="clearCache()">clear cache</button>
    <button type="btn " class="sidebar-header-button btn-secondary" (click)="addOrganization()">add </button>

    <div *ngIf="organizations">
      <ul class="list-unstyled components">
        <div>
          <hr>
          <li *ngFor="let organization of organizations" (mouseenter)="getModules(organization)" [ngClass]="{'active dropright':selectedOrganization===organization}" >
            <div class="row">
              <a class="col-md-3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >{{organization.organization_name}} </a>
              <div class="col-md-3">
                <button type="button" class="row btn-secondary">Update</button>
                <button type="button" class="row btn-primary" (click)=removeOneOrg(organization)> Remove</button>
              </div>
            </div>
            <hr>
          </li>
        </div>
      </ul>
    </div> 
  </nav>


  <div id="content" >
    <nav id="sidebar">
      <div *ngIf="modulesPresent">
        <button class="btn btn-secondary" type="button" (click)=addModuleToOrganization()>Add</button>
        <ul class="list-unstyled components">
          <div >
            <li  *ngFor="let module of modules">
             <a type="button"  data-toggle="collapse"  aria-expanded="false" class="dropdown-toggle onModActive">{{module.module_name}}</a>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div bsModal #addOrgChildModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br>
      <form #addOrgForm="ngForm" (ngSubmit)=addOrg(addOrgForm) *ngIf="addOneOrganization">
        <div class="form-group row" style="text-align: center;">
          <label for="organization_name" class="col-sm-4 col-form-label">Organization </label>
          <div class="col-sm-6">
          <input type="text"
            ngModel
            required
            class="form-control"
            placeholder="Organization name"
            id="organization_name"
            #organization_name="ngModel"
            name="organization_name">
            <small *ngIf="!organization_name.valid && organization_name.touched">please enter a valid organization name</small>
          </div>
        </div>
        <div class="form-group" style=" text-align: center;">
          <button type="submit"  class="btn btn-primary" [disabled]="!addOrgForm.valid" >add</button>
        </div>

        <div *ngIf="errorOccured" >          
          <div class="alert alert-danger" style="text-align: center;">
            <p>{{errorMessage}}!</p>
          </div>
        </div>
      </form>

      <div *ngIf="removeOrg">
        <div class="modal-body" >
          Are you sure,you want to delete organization "<span>{{orgTobeDeleted.organization_name}}?</span>" 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="hideChildModal()">No</button>
          <button type="button" class="btn btn-primary" (click)="removeOrganization()">Yes</button>
        </div>
      </div>

      <form #addModuleForm="ngForm" (ngSubmit)=addModule(addModuleForm) *ngIf="addOneModule">
        <div class="form-group row" style="text-align: center;">
          <label for="module_name" class="col-sm-4 col-form-label">Module </label>
          <div class="col-sm-6">
          <input type="text"
            ngModel
            required
            class="form-control"
            placeholder="Module name"
            id="module_name"
            #module_name="ngModel"
            name="module_name">
            <small *ngIf="!module_name.valid && module_name.touched">please enter a valid module name</small>
          </div>
        </div>
        <div class="form-group" style=" text-align: center;">
          <button type="submit"  class="btn btn-primary" [disabled]="!addModuleForm.valid" >add</button>
        </div>

        <div *ngIf="errorOccured" >          
          <div class="alert alert-danger" style="text-align: center;">
            <p>{{errorMessage}}!</p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>


