<div class="wrapper" >
  <nav id="sidebar">
    <button type="btn " class="sidebar-header-button btn-secondary" (click)="clearCache()">clear cache</button>
    <div *ngIf="organizations">
      <ul class="list-unstyled components">
        <div>
          <li class="dropright" *ngFor="let organization of organizations" (mouseenter)="getModules(organization)" [ngClass]="{'active':selectedOrganization===organization}" >
            <a type="button"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >{{organization.organization_name}} </a>
          </li>
        </div>
      </ul>
    </div> 
  </nav>


  <div id="content" >
    <nav id="sidebar">
      <div *ngIf="modulesPresent">
        <ul class="list-unstyled components">
          <div >
            <li class="dropright" *ngFor="let module of modules">
             <a type="button"  data-toggle="collapse"  aria-expanded="false" class="dropdown-toggle onModActive">{{module.module_name}}</a>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</div>


