.login{
    margin: 2.5% 32.5% 0% 32.5%;
    width: 35%;
    border: 1px solid #808080;
    border-radius: 8px;  
    opacity: 80%;
    background-color:#f8f8f8;
}
form
{
    margin: 5% 10% 10% 10%;
}
.image{
    opacity: 60%;
    width:100%;
    border-radius: 8px;
}
.form-group {
    margin-right: 15px;
}
input.ng-invalid.ng-touched{
    border:1px solid red;
}